<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    enter the  tweet 
    <form action="{% url 'sentimentResult' %}" method="post">
        {% csrf_token %}
        <label for="tweet">text:</label>
        <input type="tweet"  id="tweet" name="tweet" required><br><br>
        <label for="sentiment">sentiment:</label>
        <input type="sentiment"  id="sentiment" name="sentiment" required><br><br>
       
    
        <button type="submit">Submit</button>
    </form>    <!---->
    
</body>
</html>